.calculation {
    width: 100%;
    background-color: rgb(33, 33, 45);
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .header {
        width: 75%;
        height: 70px;
        background-color: #31EFA5;
        margin-top: 15px;

        & p {
            color: white;
            font-size: 25px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            margin-left: 15px;
        }
    }

    .CalorieCalc {
        width: 75%;
        background-color: rgb(33, 33, 45);
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        .GenderSelection {
            margin-top: 20px;
            width: 30%;
            height: 200px;
            background-color: rgb(33, 33, 45);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            border-radius: 30px;             
            box-shadow:0 0 5px #31EFA5;
            .step {
                background-color: #46b188; 
                    color: white;
                    border-radius: 10px;             
                    font-size: 25px;
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: bold;
                    width: 70%;
                    height: 30%;
                    border: 0cm;
                    cursor: pointer;
    
                &-active {
                    background-color:#31EFA5;
                }
            }           
        }

        .Data {
            margin-top: 20px;
            width: 30%;
            height: 200px;
            background-color: rgb(120, 120, 81);
            display: flex;
            border-radius: 30px;             
            box-shadow:0 0 5px #31EFA5;
            background-color: rgb(33, 33, 45);

            .DataLeft, .DataRight {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                color: white;
                font-size: 20px;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
            }

            .DataLeft {
                width: 60%;
                text-align: center;
            }

            .DataRight {
                width: 40%;
                height: 100%;
                align-items:self-start;

                & input {
                    border: 1px solid #31EFA5; 
                    border-color: #31EFA5;
                    border-radius: 10px;
                    background-color: #46b188; 
                    color: white;
                    font-size: 15px;
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: bold;
                    width: 50%;
                    height: 30px;
                }
            }
        }

        .Target {
            margin-top: 20px;
            width: 30%;
            height: 200px;
            background-color: rgb(33, 33, 45);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            border-radius: 30px;             
            box-shadow:0 0 5px #31EFA5;

            .stepTarget {
                background-color: #46b188; 
                color: white;
                border-radius: 10px;             
                font-size: 15px;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
                width: 60%;
                height: 20%;
                border: 0cm;
                    cursor: pointer;
    
                &-active {
                    background-color:#31EFA5;
                }
            }
            .support, .lose, .gain {
                background-color: #46b188; 
                color: white;
                border-radius: 10px;             
                font-size: 15px;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
                width: 60%;
                height: 20%;
                border: 0cm;
        }
        .support:focus, .lose:focus, .gain:focus {
            cursor: pointer;
            background-color: #31EFA5;
        }
        }

        .ButtonCalculate {
            border: 1px solid #31EFA5; 
            background-color: transparent; 
            color: white;
            border-radius: 20px;             
            box-shadow:0 0 5px #31EFA5;
            font-size: 30px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            padding:5px 50px;
            height: 60px;
            margin: 30px 0 30px 0;

          }
          .ButtonCalculate:focus {
            cursor: pointer;
            background-color: #31EFA5;
          }
          .ButtonCalculate:disabled {
            background-color: rgb(173, 171, 171);
          }
    }

    .result {
        width: 75%;
        background-color: rgb(33, 33, 45);
        margin-top: 20px;

        .text {
            color: white;
            font-size: 30px;
            font-weight: bold;
            font-family: 'proxima',Arial,sans-serif;
            text-transform: uppercase;
            border-color: transparent;
            border-style: solid;
            margin-top: 10;
            text-align: center;
          }
    
        .text1 {
            color: #31EFA5;
            font-size: 30px;
            font-weight: bold;
            font-family: 'proxima',Arial,sans-serif;
            text-transform: uppercase;
            border-color: transparent;
            border-style: solid;
            margin-top: 10;
          }

          .tables {
            width: 100%;
            height: 200px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            text-align: center;

            .calories {
                width: 15%;
                height: 80%;
                background-color: aqua;
                border: 1px solid #31EFA5; 
                background-color: transparent; 
                color: white;
                border-radius: 30px;             
                box-shadow:0 0 5px #31EFA5;
                font-size: 25px;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;

                .p {
                    background-color: #31EFA5;
                    width: 100%;
                    height: 60%;
                    border-radius: 30px 30px 0 0;             
                    box-shadow:0 0 5px #31EFA5;
                    align-items: center;
                    display: flex;
                }
                .caloriesText {
                    margin-top: 10%;
                    height: 20%;
                    font-size: 30px;
                }
                
            }

            .proteins {
                width: 15%;
                height: 80%;
                background-color: aqua;
                border: 1px solid #31EFA5; 
                background-color: transparent; 
                color: white;
                border-radius: 30px;             
                box-shadow:0 0 5px #31EFA5;
                font-size: 25px;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;

                .p {
                    background-color: #31EFA5;
                    width: 100%;
                    height: 60%;
                    border-radius: 30px 30px 0 0;             
                    box-shadow:0 0 5px #31EFA5;
                    align-items: center;
                    display: flex;
                }
                .caloriesText {
                    margin-top: 10%;
                    height: 20%;
                    font-size: 30px;
                }
            }

            .fats {
                width: 15%;
                height: 80%;
                background-color: aqua;
                border: 1px solid #31EFA5; 
                background-color: transparent; 
                color: white;
                border-radius: 30px;             
                box-shadow:0 0 5px #31EFA5;
                font-size: 25px;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;

                .p {
                    background-color: #31EFA5;
                    width: 100%;
                    height: 60%;
                    border-radius: 30px 30px 0 0;             
                    box-shadow:0 0 5px #31EFA5;
                    align-items: center;
                    display: flex;
                }
                .caloriesText {
                    margin-top: 10%;
                    height: 20%;
                    font-size: 30px;
                }
            }

            .carbs {
                width: 15%;
                height: 80%;
                background-color: aqua;
                border: 1px solid #31EFA5; 
                background-color: transparent; 
                color: white;
                border-radius: 30px;             
                box-shadow:0 0 5px #31EFA5;
                font-size: 25px;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;

                .p {
                    background-color: #31EFA5;
                    width: 100%;
                    height: 60%;
                    border-radius: 30px 30px 0 0;             
                    box-shadow:0 0 5px #31EFA5;
                    align-items: center;
                    display: flex;
                }
                .caloriesText {
                    margin-top: 10%;
                    height: 20%;
                    font-size: 30px;
                }
            }
          }
    }

    .ButtonPages {
        border: 1px solid #31EFA5; 
        background-color: transparent; 
        border-radius: 20px;             
        box-shadow:0 0 5px #31EFA5;
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        padding:5px 50px;
        height: 45px;
        margin: 30px 0 30px 0;

        .link {
            text-decoration: none;
            color: white;
        }
    }
    .ButtonPages:hover {
        cursor: pointer;
        background-color: #31EFA5;
    }
 
}

@media screen and (max-width: 1024px) {
    .calculation {
        .header {
            height: 60px;
            & p {
                font-size: 20px;
            }
          }
        .CalorieCalc {
            .GenderSelection, .Data, .Target {
                height: 180px;
            }
            .GenderSelection {
                .step {
                    font-size: 20px;
                }
            }
            .Data {
                .DataLeft, .DataRight {
                    font-size: 15px;
                }
                .DataRight {
                    & input {
                        height: 20px;
                        font-size: 14px;
                    }
                }
            }
            .Target {
                .stepTarget {
                    font-size: 13px;
                }
            }
        }
        .result {
            .text, .text1 {
                font-size: 30px;
            }

            .tables {
                .calories, .proteins, .fats, .carbs {
                    .p {
                        font-size: 15px;
                    }
                    .caloriesText {
                        font-size: 25px;
                    }
                }
            }
        }

    }
  }
  //////////////////////////////////////////
  @media screen and (max-width: 768px) {
    .calculation {
        .header {
            & p {
                font-size: 18px;
            }
          }
        .CalorieCalc {
            .GenderSelection, .Data, .Target {
                height: 160px;
            }

            .GenderSelection {
                .step {
                    font-size: 17px;
                }
            }

            .Data {
                .DataLeft, .DataRight {
                    font-size: 15px;
                }
                .DataRight {
                    & input {
                        font-size: 12px;
                        height: 18px;
                    }
                }
            }
            .Target {
                .stepTarget {
                    font-size: 11px;
                }
            }
            .ButtonCalculate {
                font-size: 25px;
            }
        }
    }
  }

  @media screen and (max-width: 640px) {
    .calculation {
        .CalorieCalc {
            .Target {
                .stepTarget {
                    font-size: 9px;
                }
            }
        }
        .result {
            .tables {
                .calories, .proteins, .fats, .carbs {
                    height: 120px;
                    .p {
                        font-size: 12px;
                    }
                    .caloriesText {
                        font-size: 15px;
                    }
                }
            }
        }

        .ButtonPages {

            font-size: 15px;
        }
         
    }
    
  }
  ////////////////////////////////////
  @media screen and (max-width: 550px) {
    .calculation {
        .header {
            height: 50px;
            & p {
                font-size: 15px;
            }
          }
          .CalorieCalc {
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
            .GenderSelection {
                flex-direction: row;
                width: 70%;
                height: 70px;

                .step {
                    width: 40%;
                    height: 50%;
                    font-size: 15px;
                }
            }

            .Data {
                width: 70%;
                
            }

            .Target {
                width: 70%;
            }
          }

          .result {
            .tables {
                
                .calories, .proteins, .fats, .carbs {
                    height: 100px;
                    .p {
                        font-size: 10px;
                    }
                    .caloriesText {
                        font-size: 12px;
                    }
                }
            }
          }

          .ButtonPages {
            font-size: 12px;
        }
    }


  }
  ////////////////////////////////////
  @media screen and (max-width: 380px) {
    .calculation {
        .header {
            height: 40px;
            & p {
                font-size: 12px;
            }
          }

          .result {
            .text, .text1 {
                font-size: 12px;
            }
            .tables {
                height: 300px;
                flex-wrap: wrap;
                .calories, .proteins, .fats, .carbs {
                    width:30%;
                    margin: 10px;
                    .p {
                        font-size: 10px;
                    }
                    .caloriesText {
                        font-size: 12px;
                    }
                }
            }
          }

          .ButtonPages {
            font-size: 9px;
          }
    }
  }
  @media screen and (max-width: 350px) {
    .calculation {
        .CalorieCalc {
            .GenderSelection {
                .step {
                    font-size: 11px;
                }
            }
        }
    }
    
  }