.ticker {
    background-color: #18b170;
    width: 100%;
    color: white;
    overflow: hidden;

    & div {
        display: flex;
        width: 200%;
        animation: ticker 30s linear infinite;

        & h1 {
          white-space: nowrap;
          width: 100%;
          margin-right: 16px;
        }
      }
  }


  @keyframes ticker {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  ////////////////////////////////////////////////////////////
  @media screen and (max-width: 1200px) {
    .ticker {
      & div {
        & h1 {
          font-size: 25px;
        }
      }
    }
  }

  @media screen and (max-width: 1000px) {
    .ticker {
      & div {
        & h1 {
          font-size: 20px;
        }
      }
    }
  }
  @media screen and (max-width: 480px) {
    .ticker {
      & div {
        & h1 {
          font-size: 18px;
        }
      }
    }
  }
  @media screen and (max-width: 375px) {
    .ticker {
      & div {
        & h1 {
          font-size: 15px;
        }
      }
    }
  }
  